:root {
  --main-color: #a0d8b3;
  --black: #000;
  --white: #fff;
  --bg-success-notification: #5dd986;
  --bg-error-notification: #e34b4b;
}

/***** RESET ******/
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1 rem = 10px */
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-size: 1.6rem;
  line-height: 2;
  overflow-x: hidden;
  min-height: 100vh;
  padding-bottom: 1rem;
  position: relative;
}

header {
  box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.42);
}

.nav-link {
  color: var(--main-color);
}

.nav-pills .nav-link.active {
  background-color: var(--main-color);
  color: var(--white);
}

#register,
#login,
#new-ad {
  width: 60%;
  padding-top: 3rem;
}

.form-control,
.form-select {
  height: 3rem;
  font-size: 1.4rem;
}

.btn,
.btn-primary {
  font-size: 1.6rem;
  background-color: var(--main-color);
  border: var(--main-color);
}
.btn-primary:hover {
  background-color: var(--main-color);
}

.title {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: bold;
}

#list-ads {
  margin-bottom: 5rem;
  padding: 2rem 5rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}

.card {
  width: 25rem;
  padding: 1rem;
}

.card img {
  height: 20rem;
}

.card-body .status {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
}

.badge.rounded-pill {
  background-color: var(--bg-success-notification);
  margin-right: 0.5rem;
}

.badge.rounded-pill.status {
  background-color: var(--main-color);
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

@media (max-width: 992px) {
  #list-ads {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  #list-ads {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  #list-ads {
    grid-template-columns: repeat(1, 1fr);
  }
}
